<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/img/headerimg.png"  alt="Logo" width="50" height="40" class="d-inline-block align-text-top">
        Proyecto de grado 

       
      </a>

    </div>

    <div class="boton">
        

      <div class="agregarP">
       <button type="button" (click)="volverAtras()"  class="btn btn-primary btn-sm ">Volver</button>
      </div> 

    

    </div>
</nav>

<h1> REGISTRO ANTEPROYECTO</h1>
{{regpro | json}}

<form>
    <div class="container">
        <div class="form-group">
        <label for="formGroupExampleInput">Titulo</label>
        <input type="text" id="nombre" [(ngModel)]="regpro.titulo" class="form-control" name="nombre" (keyup)="validarTitulo()">
        </div>
        <div class="form-group">
        <label for="formGroupExampleInput2">Descripcion</label>
        <input type="text" name="Descripcion" [(ngModel)]="regpro.descripcion" class="form-control" id="Tesis" [disabled]="!tituloValido" >
        </div>
       
        <button type="button" (click)="Onsave()" class="btn btn-primary" [disabled]="!regpro.titulo || !regpro.descripcion || !tituloValido">Registrar</button>
    </div>
    
</form>
