nav
    border-bottom: 1px solid #cacaca
    display: grid
    grid-template-columns: 102px 300px
   
     
     

    .buton  
        display: flex

            
        .logout
            margin-left: 50%
                
            button

                font-weight: bold

form
    margin-top: 5%       
    .container
        button
            margin-top: 3%
h1
    text-align: center
    
