
<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
<div class="formulario">
  <div class="mb-3">
      <input type="text" class="form-control" placeholder="Usuario" id="username" [(ngModel)]="username">
      <div id="emailHelp" class="form-text"> Nunca compartas tu usuario con personas desconocidas.</div>
  </div>
  <div class="mb-3">
      <input type="password" placeholder="Contraseña" class="form-control" id="password" [(ngModel)]="password">
   </div>
  
  <button type="submit" (click)="login()" class="btn btn-primary">INGRESAR</button>
</div>
