
<header>

    <app-userheader></app-userheader>

</header>

<body>
    
        <div id="contenido">
        <div id = "columna">
            <div id="user">
                <h4>ESTUDIANTE</h4>
                <img src="assets/img/use.png" alt="Logo" width="40" height="40" >
            </div>
             
            <app-usercolum>
               
            </app-usercolum>
        
        </div>

        <div id="editor">
            <h3>ESCRIBE AQUI </h3>
            <app-usereditor></app-usereditor>
        
        </div>
    </div>
    
</body>
 

<app-userfooter></app-userfooter>

